.imgCarrousel{
    max-width: 900px;
    margin: 0 auto;
    height: calc(20vw + 20rem);
    background-image: var(--radialGradeSecondary);
    margin-bottom: 150px;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 30px var(--primaryClrDark);
}

.imgCarrousel-content{
    margin: auto;
    width: calc(9vw + 7rem);
    perspective: 1000px;
    padding-top: calc(6vw + 6rem);
}

.content__carrousel{
    width: 100%;
    transform-style: preserve-3d;
}

.playFwd.content__carrousel{
    animation: rotarF 15s infinite linear;

}

.playRwd.content__carrousel{
    animation: rotarR 15s infinite linear;

}

.pause.content__carrousel{
    animation-play-state: paused;
    
}

.content__carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}

.content__carrousel figure{
    width: 100%;
    height: calc(5vw + 5.5rem);
    border: 1px solid var(--primaryClrDark);
    overflow: hidden;
    position: absolute;
}

.content__carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(calc(14vw + 9rem));

}
.content__carrousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(calc(14vw + 9rem));
    
}
.content__carrousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(calc(14vw + 9rem));
    
}

.shadow{
    position: absolute;
    box-shadow: 0px 0px 30px var(--secondaryClr);
    border-radius: 2px;
}


.content__carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__carrousel img:hover{
    transform: scale(1.5);
}

@keyframes rotarF{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes rotarR{
    from{
        transform: rotateY(360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}

.imgCarrousel .player{
        position: absolute;
        bottom: calc(1vw + 1rem);
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    .player__btn{
        margin: 0px calc(1vw + .5rem);
        .btn{
            display: grid;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            border: 2px solid var(--primaryClrDark);
            color: var(--primaryClrDark);
        }   
    }    
    .pause{
        .btn{
            transform: scale(1.2);
            box-shadow: 0px 0px 20px 0px var(--secondaryClrOp);
            border: 2px solid var(--primaryClrDark);
            text-shadow: 0px 0px 15px var(--secondaryClr);
        }
    }
    .pauseBtn{
        .btn{
            width: 35px;
            height: 35px;
            font-size: 1.2rem;
        }
        
    }
    .stopBtn{
        .btn{
        width: 35px;
        height: 35px;
        }
    }

    .fwdBtn{
        .btn{
            font-size: 2.5rem;
        }
    }
    .fwd{
        .btn{
            box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .8);
            text-shadow: 0px 0px 15px var(--secondaryClr);
        }
    }
    .rwdBtn{
        .btn{
            font-size: 2.5rem;
        }
    }

    .rwd{
        .btn{
            box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .8);
            text-shadow: 0px 0px 15px var(--secondaryClr);
        }
    }
    .stop{
        width: 13px;
        height: 13px;
        background-color: var(--primaryClrDark);
    }
}