.imgGallery{
    position: relative;
    max-width: 1200px;
    background-image: Var(--radialGradeSecondary);
    margin: 0 auto;
    box-shadow: 0px 0px 30px var(--primaryClrDark);
    margin-bottom: 150px;
    height: calc(22vw + 22rem);
    border-radius: 1.5rem;
}