.imgGallery{
    position: relative;
    max-width: 900px;
    background-image: Var(--radialGradeSecondary);
    box-shadow: 0px 0px 30px var(--primaryClrDark);
    margin: 0 auto;
    margin-bottom: 150px;
    border-radius: 1.5rem;
}
.featureImg img, .galleryGrid img{
    margin: auto;
    width: 100%;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fadeIn{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}