.imgProductGallery{
    position: relative;
    max-width: 700px;
    background-image: Var(--radialGradeSecondary);
    box-shadow: 0px 0px 30px var(--primaryClrDark);
    margin: 0 auto;
    margin-bottom: 150px;
    border-radius: 1.5rem;
}

.productSlider{
    padding: 1.5rem;
    padding-top: calc(3.5vw + 3rem);
}

.productFeatureImg img{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}
#productContainer{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImgs{
    width: 475px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.productImg{
    margin: 0 5px;
    height: 100px;
    border-radius: .5rem;
    cursor: pointer;
    opacity: .4;
}

.productImg:hover{
    opacity: 1;
}

.activeProduct{
    opacity: 1;
}

#btnL{
    background-color: var(--primaryClrDark);
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
    cursor: pointer;
}

#btnR{
    background-color: var(--primaryClrDark);
    width: 50px;
    height: 50px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
    cursor: pointer;
}
