.header{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    margin-bottom: -7vw;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
    .navBar__list{
        margin-top: calc(1vw + .25rem);
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        .listItem{
            display: flex;
            border-right: 2px solid black;
            margin-left: calc(1vw + .3rem);
        }
        .listItem:last-child{
            border-right: none;
        }
        
        a{
            margin: 0 calc(1vw + .3rem);
            display: block;
            text-decoration: none;
            font-size: 1.25rem;
            letter-spacing: .25rem;
            color: black;
        }
    }
    a:hover{
        transform: scale(1.15);
        transition: all 250ms ease-in-out;
    }
        
        .active{
            transform: scale(1.15);
            font-weight: 700;
            text-shadow: 0px 0px 10px rgb(90, 90, 90);
            
        }
        h1{
            position: absolute;
            bottom: calc(7vw - .5rem);
            right: 5%;
            transform: rotate(-3.8deg);
            font-size: calc(2.5vw + 1.25rem);
            font-family: 'Audiowide', cursive;
        }
}





.devBox{
    background-color: rgb(0, 0, 0);
    height: auto;
    padding-top: calc(7vw + 1.5rem);
    padding-bottom: 25px;
    margin-bottom: calc(2vw + 1.5rem);
    h2{
        color: white;
        margin-left: 3%;
        font-size: calc(1vw + 1.25rem);
        letter-spacing: .1rem;
    }
    &__img{
        display: flex;
        align-items:center;
        justify-content: center;
        img{
            margin: calc(1vw + .25rem);
            width: calc(5vw + 4rem);
        }
    }
}
    .h1Headers{
        margin: auto;
        display: flex;
        background-color: black;
        margin-bottom: 75px;
        width: calc(95vw - 1rem);

        .outsideBoxL{
            width: calc(2vw + 2.5rem);
            background-color: white;
            clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 50% 50%);
            transform: translateX(-51%);
        }
        .chevronL{
            background-color: white;
            width: calc(2vw + 2.5rem);
            margin-left: auto;
            clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
        }
        .outsideBoxR{
            background-color: white;
            width: calc(2vw + 2.5rem);
            clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 25% 50%);
            transform: translateX(51%);
        }
        .chevronR{
            background-color: white;
            width: calc(2vw + 2.5rem);
            margin-right: auto;
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
        }
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .5rem calc(1vw + 2rem);
            margin: auto;
            font-size: calc(1vw + 1.75rem);
            letter-spacing: .25rem;
            color: white;
        }
    }
    .h2Headers{
        width: calc(80vw - 2rem);
        display: flex;
        justify-content: space-between;
        margin: auto;
        background-image: radial-gradient(rgb(240, 240, 240), rgb(150, 150, 150));
        margin-bottom: 50px;

        border-radius: .25rem;
        .h2-outsideBoxL{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
            transform: translate(-25%);
        }
        .h2-chevronL{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
            transform: translate(75%);
        }
        .h2-midchevronL{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
        }
        .h2-outsideBoxR{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
            transform: translate(25%);
        }
        .h2-chevronR{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
            transform: translate(-75%);
        }
        .h2-midchevronR{
            background-color: white;
            width: calc(2vw + 1rem);
            clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%); 
        }
        h2{
            font-size: calc(1vw + .75rem);
            padding: .25rem calc(1vw + 1rem);
            min-width: 170px;
            text-align: center;
            letter-spacing: .1rem;
            
        }
    }


/*             Right Chevron Thick
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

                Right Chevron Thin
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
*/

/*             left Chevron Thick
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                Left Chevron Thin
clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
*/

/*             left Triangle
clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);
                Right Triangle
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%);
*/