*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Audiowide', cursive;
}

:root{
    --primaryBackground: black;
    --primaryClrDark: black;
    --primaryClrMid: grey;
    --secondaryClr: white;

    --radialGradePrimary: radial-gradient( rgb(110, 110, 110), rgb(240, 240, 240));
    --radialGradeSecondary: radial-gradient(rgb(255, 255, 255), rgb(170, 170, 170));
    --primarClrDarkOp: rgba(0, 0, 0, .8);
    --secondaryClrOp: rgba(255, 255, 255, 0.6);
}

.project-4{
    background-image: url('img/Anorei_Collins_img_7.jpg');
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    height: calc(30vw + 30rem);
    margin: auto;
    margin-bottom: 150px;
    border-radius: 1.5rem;
}

@import"sections";
@import"carrousel";
@import"slider";
@import"imgGallery";
@import"imgProductGallery";


/*             Right Chevron Thick
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

                Right Chevron Thin
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
*/

/*             left Chevron Thick
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                Left Chevron Thin
clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
*/

/*             left Triangle
clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);
                Right Triangle
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%);
*/