* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Audiowide', cursive;
}

:root {
  --primaryBackground: black;
  --primaryClrDark: black;
  --primaryClrMid: grey;
  --secondaryClr: white;
  --radialGradePrimary: radial-gradient( rgb(110, 110, 110), rgb(240, 240, 240));
  --radialGradeSecondary: radial-gradient(rgb(255, 255, 255), rgb(170, 170, 170));
  --primarClrDarkOp: rgba(0, 0, 0, .8);
  --secondaryClrOp: rgba(255, 255, 255, 0.6);
}

.project-4 {
  background-image: url("img/Anorei_Collins_img_7.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  height: calc(30vw + 30rem);
  margin: auto;
  margin-bottom: 150px;
  border-radius: 1.5rem;
}

.header {
  position: relative;
  background-color: var(--secondaryClr);
  height: 43vh;
  margin-bottom: -7vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
}

.header .headerBackground {
  position: absolute;
  width: 100%;
  min-width: 750px;
}

.header .logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: calc(3vw + 3rem);
  left: calc(1vw + 1.5rem);
  border-radius: 1rem;
  width: calc(7vw + 7rem);
  height: calc(4vw + 4rem);
  font-family: "Audiowide", cursive;
}

.header .logo p {
  background: none;
  position: absolute;
  font-size: calc(.75vw + .75rem);
  color: var(--primaryBackground);
  letter-spacing: 0.15rem;
  border: none;
}

.header .logo .logoTop {
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .logo .logoBottom {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
}

.header .logo .analogClock__face {
  position: relative;
  width: calc(3vw + 3rem);
  height: calc(3vw + 3rem);
  background-color: black;
  margin: auto;
  font-size: calc(0.25vw + 0.25rem);
  border-radius: 50%;
  border: 2px solid white;
  opacity: .75;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
}

.header .logo .analogClock__face .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: rotate(var(--rotation));
          transform: rotate(var(--rotation));
  font-size: calc(0.25vw + 0.5rem);
  color: white;
}

.header .logo .analogClock__face .number1 {
  --rotation: 30deg;
}

.header .logo .analogClock__face .number2 {
  --rotation: 60deg;
}

.header .logo .analogClock__face .number3 {
  --rotation: 90deg;
}

.header .logo .analogClock__face .number4 {
  --rotation: 120deg;
}

.header .logo .analogClock__face .number5 {
  --rotation: 150deg;
}

.header .logo .analogClock__face .number6 {
  --rotation: 180deg;
}

.header .logo .analogClock__face .number7 {
  --rotation: 210deg;
}

.header .logo .analogClock__face .number8 {
  --rotation: 240deg;
}

.header .logo .analogClock__face .number9 {
  --rotation: 270deg;
}

.header .logo .analogClock__face .number10 {
  --rotation: 300deg;
}

.header .logo .analogClock__face .number11 {
  --rotation: 330deg;
}

.header .logo .analogClock__face .number12 {
  --rotation: 360deg;
}

.header .logo .analogClock__face .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: white;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
  -webkit-transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
          transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.header .logo .analogClock__face::after {
  content: "";
  position: absolute;
  background-color: white;
  z-index: 11;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.header .logo .analogClock__face .hand.second-hand {
  width: 2.5px;
  height: 45%;
  background-color: red;
}

.header .logo .analogClock__face .hand.minute-hand {
  width: 3px;
  height: 40%;
  background-color: white;
}

.header .logo .analogClock__face .hand.hour-hand {
  width: 4px;
  height: 35%;
  background-color: white;
}

.header .navBar__list {
  position: absolute;
  margin-top: calc(1vw + 0.25rem);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .navBar__list .listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 2px solid var(--primaryClrDark);
  margin-left: calc(1vw + 0.3rem);
}

.header .navBar__list .listItem:last-child {
  border-right: none;
}

.header .navBar__list a {
  margin: 0 calc(1vw + 0.3rem);
  display: block;
  text-decoration: none;
  font-size: calc(0.75vw + 1rem);
  letter-spacing: 0.25rem;
  color: var(--primaryClrDark);
}

.header a:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header .active {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  font-weight: 700;
  text-shadow: 0px 0px 10px var(--primaryClrDark);
}

.header h1 {
  position: absolute;
  bottom: calc(7vw - 0.5rem);
  right: 5%;
  -webkit-transform: rotate(-3.8deg);
          transform: rotate(-3.8deg);
  font-size: calc(1.75vw + 1.75rem);
  font-family: "Audiowide", cursive;
  color: var(--primaryClrDark);
}

.devBox {
  background-image: var(--radialGradeSecondary);
  height: auto;
  padding-top: calc(7vw + 1.5rem);
  padding-bottom: 25px;
  margin-bottom: calc(2vw + 1.5rem);
}

.devBox h2 {
  color: var(--primaryClrDark);
  margin-left: 3%;
  font-size: calc(1vw + 1.25rem);
  letter-spacing: 0.1rem;
  text-shadow: 0px 0px 10px var(--secondaryClr);
}

.devBox__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.devBox__img img {
  margin: calc(1vw + 0.25rem);
  width: calc(5vw + 4rem);
}

.h1Headers {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: var(--radialGradeSecondary);
  margin-bottom: calc(4vw + 4rem);
  width: calc(95vw - 1.75rem);
  height: calc(2.5vw + 2rem);
}

.h1Headers .outsideBoxL {
  width: calc(2vw + 2.5rem);
  background-color: var(--secondaryClr);
  -webkit-clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 50% 50%);
          clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 50% 50%);
  -webkit-transform: translateX(-51%);
          transform: translateX(-51%);
}

.h1Headers .chevronL {
  background-color: var(--primaryClrDark);
  width: calc(2vw + 2.5rem);
  margin-left: auto;
  -webkit-clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.h1Headers .outsideBoxR {
  background-color: var(--secondaryClr);
  width: calc(2vw + 2.5rem);
  -webkit-clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 25% 50%);
          clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 25% 50%);
  -webkit-transform: translateX(51%);
          transform: translateX(51%);
}

.h1Headers .chevronR {
  background-color: var(--primaryClrDark);
  width: calc(2vw + 2.5rem);
  margin-right: auto;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
}

.h1Headers h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.25rem 0;
  margin: auto;
  min-width: 250px;
  font-size: calc(1vw + 1rem);
  letter-spacing: 0.25rem;
  color: var(--primaryClrDark);
}

.h2Headers {
  position: absolute;
  background-image: var(--radialGradeSecondary);
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(1vw + 1rem);
  margin: auto;
  padding: 0.1rem calc(0.5vw + 0.5rem);
  min-width: 170px;
  -webkit-box-shadow: 0px 0px 10px var(--primaryClrDark);
          box-shadow: 0px 0px 10px var(--primaryClrDark);
  font-size: calc(0.75vw + 0.5rem);
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--primaryClrDark);
  border-radius: 2rem;
}

/*.h2-outsideBoxL{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
        transform: translate(-25%);
    }
    .h2-chevronL{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
        transform: translate(75%);
    }
    .h2-midchevronL{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
    }
    .h2-outsideBoxR{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
        transform: translate(25%);
    }
    .h2-chevronR{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
        transform: translate(-75%);
    }
    .h2-midchevronR{
        background-color: var(--primaryClrDark);
        width: calc(2vw + 1rem);
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%); 
    }*/
.profile {
  min-width: 130px;
  width: 12%;
  height: 20%;
  bottom: calc(4vh + 4rem);
  right: 5%;
}

.profile .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.profile .img-box__img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.9);
  opacity: 0.75;
}

.profile .contact-box__btn {
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 0.5rem 0.75rem;
  font-weight: 700;
  font-size: calc(1vw + 0.3rem);
  text-align: center;
  letter-spacing: 0.15rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

@media (max-width: 1100px) {
  .header .logo {
    display: none;
  }
}

.imgCarrousel {
  max-width: 900px;
  margin: 0 auto;
  height: calc(22vw + 22rem);
  background-image: var(--radialGradeSecondary);
  margin-bottom: 150px;
  position: relative;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 30px var(--primaryClrDark);
          box-shadow: 0px 0px 30px var(--primaryClrDark);
}

.imgCarrousel-content {
  margin: auto;
  width: calc(9vw + 7rem);
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding-top: calc(6vw + 6rem);
}

.content__carrousel {
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.playFwd.content__carrousel {
  -webkit-animation: rotarF 15s infinite linear;
          animation: rotarF 15s infinite linear;
}

.playRwd.content__carrousel {
  -webkit-animation: rotarR 15s infinite linear;
          animation: rotarR 15s infinite linear;
}

.pause.content__carrousel {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.content__carrousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

.content__carrousel figure {
  width: 100%;
  height: calc(5vw + 5.5rem);
  border: 1px solid var(--primaryClrDark);
  overflow: hidden;
  position: absolute;
}

.content__carrousel figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(0deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(40deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(80deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(120deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(160deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(200deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(240deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(280deg) translateZ(calc(14vw + 9rem));
}

.content__carrousel figure:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(calc(14vw + 9rem));
          transform: rotateY(320deg) translateZ(calc(14vw + 9rem));
}

.shadow {
  position: absolute;
  -webkit-box-shadow: 0px 0px 30px var(--secondaryClr);
          box-shadow: 0px 0px 30px var(--secondaryClr);
  border-radius: 2px;
}

.content__carrousel img {
  image-rendering: auto;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__carrousel img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes rotarF {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotarF {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotarR {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes rotarR {
  from {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.imgCarrousel .player {
  position: absolute;
  bottom: calc(1vw + 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.imgCarrousel .player .player__btn {
  margin: 0px calc(1.5vw + 1rem);
}

.imgCarrousel .player .player__btn .btn {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 3px solid var(--primaryClrDark);
  color: var(--primaryClrDark);
}

.imgCarrousel .player .pause .btn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 0px 20px 0px var(--secondaryClrOp);
          box-shadow: 0px 0px 20px 0px var(--secondaryClrOp);
  border: 3px solid var(--primaryClrDark);
  text-shadow: 0px 0px 15px var(--secondaryClr);
}

.imgCarrousel .player .pauseBtn .btn {
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

.imgCarrousel .player .stopBtn .btn {
  width: 50px;
  height: 50px;
}

.imgCarrousel .player .fwdBtn .btn {
  font-size: 2.5rem;
}

.imgCarrousel .player .fwd .btn {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 15px var(--secondaryClr);
}

.imgCarrousel .player .rwdBtn .btn {
  font-size: 2.5rem;
}

.imgCarrousel .player .rwd .btn {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 15px var(--secondaryClr);
}

.imgCarrousel .player .stop {
  width: 20px;
  height: 20px;
  background-color: var(--primaryClrDark);
}

.imgSlider {
  position: relative;
  background-image: var(--radialGradeSecondary);
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 30px var(--primaryClrDark);
          box-shadow: 0px 0px 30px var(--primaryClrDark);
  margin-bottom: 150px;
  height: calc(22vw + 22rem);
}

.imgContainer {
  position: absolute;
  top: calc(5vw + 5rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  margin: auto;
  width: calc(25vw + 15rem);
  border-radius: 1rem;
  height: calc(15vw + 15rem);
}

.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-size: cover;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  background-color: var(--secondaryClrOp);
  bottom: 0;
  bottom: -300px;
  width: 100%;
  opacity: 0;
  color: var(--primaryClrDark);
  padding: calc(.5vw + .1rem);
  text-overflow: wrap;
}

.slide .content h2 {
  margin-bottom: 5px;
}

.slide.current .content {
  opacity: 1;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all 0.7s ease-in-out 0.3s;
  transition: all 0.7s ease-in-out 0.3s;
}

.slide:first-child {
  background-image: url("img/chandler-cruttenden-unsplash_img1.jpg");
}

.slide:nth-child(2) {
  background-image: url("img/sajad-nori-unsplash_img9.jpg");
}

.slide:nth-child(3) {
  background-image: url("img/daniel-sessler-unsplash_img3.jpg");
}

.slide:nth-child(4) {
  background-image: url("img/jarrad-horne-c-unsplash_img4.jpg");
}

.slide:nth-child(5) {
  background-image: url("img/quaid-lagan-unsplash_img5.jpg");
}

.slide:nth-child(6) {
  background-image: url("img/sebastien-jermer-unsplash_img6.jpg");
}

.slide:nth-child(7) {
  background-image: url("img/lewis-roberts-unsplash_img7.jpg");
}

.buttons button.btn {
  position: absolute;
  outline: none;
  border: none;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--primaryClrDark);
}

.buttons button#prevBtn.btn {
  left: 2%;
  -webkit-clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.buttons button#prevBtn.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.buttons button#nextBtn {
  right: 2%;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
}

.buttons button#nextBtn.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imgGallery {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  background-image: Var(--radialGradeSecondary);
  -webkit-box-shadow: 0px 0px 30px var(--primaryClrDark);
          box-shadow: 0px 0px 30px var(--primaryClrDark);
  margin-bottom: 150px;
  border-radius: 1.5rem;
}

.galleryContainer {
  padding: 0 1.5rem;
}

.featureImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(3.5vw + 3rem);
  margin-bottom: 10px;
}

.featureImg img {
  height: 55%;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 1rem;
}

.galleryGrid img {
  margin: auto;
  min-width: 150px;
  max-height: 90px;
  border-radius: .5rem;
}

.galleryGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
  max-height: 200px;
  overflow: scroll;
  scrollbar-width: none;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 0.5s ease-in 1 forwards;
          animation: fadeIn 0.5s ease-in 1 forwards;
}

.imgProductGallery {
  position: relative;
  max-width: 700px;
  background-image: Var(--radialGradeSecondary);
  -webkit-box-shadow: 0px 0px 30px var(--primaryClrDark);
          box-shadow: 0px 0px 30px var(--primaryClrDark);
  margin: 0 auto;
  margin-bottom: 150px;
  border-radius: 1.5rem;
}

.productSlider {
  padding: 1.5rem;
  padding-top: calc(3.5vw + 3rem);
}

.productFeatureImg img {
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

#productContainer {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productImgs {
  width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.productImg {
  margin: 0 5px;
  height: 100px;
  border-radius: .5rem;
  cursor: pointer;
  opacity: .4;
}

.productImg:hover {
  opacity: 1;
}

.activeProduct {
  opacity: 1;
}

#btnL {
  background-color: var(--primaryClrDark);
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  cursor: pointer;
}

#btnR {
  background-color: var(--primaryClrDark);
  width: 50px;
  height: 50px;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  cursor: pointer;
}

/*             Right Chevron Thick
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

                Right Chevron Thin
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
*/
/*             left Chevron Thick
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                Left Chevron Thin
clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
*/
/*             left Triangle
clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 0% 50%);
                Right Triangle
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 50% 50%);
*/
